.text p{
	visibility: hidden;
	animation-duration: 2.5s;
}
.text h1{
	visibility: hidden;
	animation-duration: 3s;
}
.icon1{
	width: 60px;
	position: absolute;
	top: 20px;
	left: 20px;
	visibility:hidden;
}
.icon2{
	width: 60px;
	position: absolute;
	bottom: 20px;
	right: 20px;
	visibility: hidden;
}
