.text p{
	visibility: hidden;
	animation-duration: 2.5s;
}
.text h1{
	visibility: hidden;
	animation-duration: 3s;
}
.icon1{
	width: 60px;
	position: absolute;
	top: 65px;
	left: 35px;
	visibility:hidden;
	border-radius: 60px;

}
.icon2{
	width: 60px;
	position: absolute;
	bottom: 65px;
	right: 35px;
	visibility: hidden;
	border-radius: 60px;

}
